.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/

# Dataset and temporary logs
*.log
*.csv
!datasets/master_training_data.csv

# LaTeX intermediates
*.aux
*.fdb_latexmk
*.fls
*.gz
!models/*.gz
*.log
*.out
*.pdf
!research/*.pdf
